* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(5, 11, 28);
}

.App {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: antiquewhite;
  flex-direction: column;
  gap: 20px;
  font-size: 60px;
}

.container-btn {
  width: 100%;

}

.btn {
  padding: 24px;
  background-color: tomato;
  font-size: 20px;
  margin: 0 7px;
  border-radius: 8px;
}



